<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.blog">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".LoginActivity"
            android:label="Login" />

        <activity
            android:name=".RegisterActivity"
            android:label="Register">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".PopUpActivity"
            android:label="PopUp">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".PostListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".CommentActivity"
            android:label="CommentList">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SearchActivity"
            android:label="Search">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".OthersProfilePageActivity"
            android:label="Profile">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".PostDetailActivity"
            android:label="Post"
            android:theme="@style/AppTheme.NoActionBar">>>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".Notification.FirebaseMessagingNotification"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>



    </application>

</manifest>